<ion-header>
  <ion-toolbar>
    <ion-title>Form1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-title style="margin-top: 70px; text-align: center;margin-bottom: 20px;">Create an Account</ion-title>
<ion-list>
  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input placeholder="Enter your first name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input placeholder="Enter your last name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Phone Numbers</ion-label>
    <ion-input placeholder="Enter your phone numbers"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email Adress</ion-label>
    <ion-input placeholder="Enter your email address"></ion-input>
  </ion-item>

  <ion-button expand="block">Submit</ion-button>
</ion-list>
</form>
</ion-content>
